[alias]
	st = status
	br = branch
	cm = commit -m
	be = bundle exec
  c = checkout
	upstream = !git push -u origin HEAD
	alias = config --get-regexp ^alias\\.
	amendit = commit --amend --no-edit
	fwl = push --force-with-lease
	go = !git amendit && git fwl
  sync = !git fetch origin && git reset --hard @{u}
  m = !git checkout $(git  symbolic-ref --short refs/remotes/origin/HEAD | sed 's@^origin/@@')
  prev = checkout -
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[help]
	autocorrect = 20
[user]
	name = James Glenn
	email = 47917431+JR-G@users.noreply.github.com
[core]
  excludesfile = /Users/james.glenn/dotfiles/git/.gitignore
[init]
	defaultBranch = main
