nvim/.config/nvim/lazy-lock.json
.DS_Store
karabiner/.config/karabiner/automatic_backups/
obsidian/*
!obsidian/.obsidian/
obsidian/.obsidian/workspace.json
obsidian/Atomic
obsidian/Ephemeral
.vscode/
.cursorrules
