[alias]
	st = status
	br = branch
	cm = commit -m
	be = bundle exec
  c = checkout
	upstream = !git push -u origin HEAD
	alias = config --get-regexp ^alias\\.
	amendit = commit --amend --no-edit
	fwl = push --force-with-lease
	go = !git amendit && git fwl
  sync = !git fetch origin && git reset --hard @{u}
  m = checkout main
  prev = checkout -
[help]
	autocorrect = 20
[user]
	name = James Glenn
	email = 47917431+JR-G@users.noreply.github.com
[core]
  excludesfile = /Users/james.glenn/dotfiles/git/.gitignore
[init]
	defaultBranch = main
